body, html {
  height:100%;
  overflow: hidden;
}

#wall {
  position: absolute;
  left: 0;
  width: 100%;
  height: 58%;
  top: 0;
  background-color: #dde5b6;
  
}

#table {
  position: absolute;
  left: 0;
  top: 58%;
  width: 100%;
  height: 50%;
  background-color: #a98467;
 

}

#plant {
  position: absolute;
  top: 30%;     
  left: 85%;
  width: 150px;
  height: auto;
  z-index: 2;
}

#stationary {
  position: absolute;
  top: 62%;     
  left: 78%;
  width: 120px;
  height: auto;
 
}


#lamp {
  position: absolute;
  top: 13%;     
  right: 78%;
  width: 250px;
  height: auto;
 
}

