body, html {
  height:100%;
  overflow: hidden;
}

#wall {
  position: absolute;
  left: 0;
  width: 100%;
  height: 58%;
  top: 0;
  background-color: #dde5b6;
  
}

#table {
  position: absolute;
  left: 0;
  top: 58%;
  width: 100%;
  height: 50%;
  background-color: #a98467;
 

}

#plant {
  position: absolute;
  top: 25vh;    /* lower --> top, higher --> down */
  left: 83vw;   /* lower --> left, higher --> right */
  width: 12vw;
  height: auto;
  z-index: 2;
}

#stationary {
  position: absolute;
  top: 62vh;     
  left: 75vw; /* lower --> left, higher --> right */
  width: 9vw;
  height: auto;
 
}


#lamp {
  position: absolute;
  top: 10vh;     
  right: 75vw;
  width: 20vw;
  height: auto;
 
}

#laptop {
  position: absolute;
  top: 10vh;    /*  move up/down, higher percent --> down, low -- > up */
  right: 28vw; /* move right/left. high percent --> left, low percent --> right */
  width: 48vw; /* make object bigger */ 
  height: auto;
}